
body{
    margin: auto;;
    padding:0.2%;
}
.main{
    z-index: 1;
   min-width:1300px;
   background: linear-gradient(to top
   ,rgba(0, 0, 0, 0.5)20%,
            rgba(249, 249, 249, 0.5)80%),url(nebula-space-dark-5k-58-2560x1600.jpg);
            
    background-position :center fixed;
    background-size:cover;
    min-height :109vh;
  
}
.navigationbr{
    width :100%;
    height:75px;
    margin:auto;

}
.icon{

    width:15px;
    float:middle;
    position:absolute;
    
}
.logo{
    cursor:pointer;
    opacity:0.7;
    color:lime;
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding-top:5px;
    transition: 0.4s ease-in-out;
    
 
}
.menu{
    display:flex;
    flex-direction: column;
    width :100%;
    line-height:2px;
    padding-top:25vh;
    margin:auto;
}
.btmbr{
    height:20px;
   width :100%;
    text-align: center;
   margin:auto;
   box-sizing:content-box;


   position:relative;
}
.btmbr1{
padding-top:200px;
   width :100%;
    text-align: center;
   margin:auto;


   position:relative;
}
ul{
    
    width:80%;
    align-items:center;
    justify-content: space-between;
    display:inline-flex;
    position:relative;
}

.myli{
    padding:auto;
    list-style: none;
    margin-left:20px ;
    font-size: 20px;
    position:relative;
    padding-top:235vh;

}



ul li{
    padding:auto;
    list-style: none;
    margin-left:20px ;
    font-size: 20px;
}
ul li a{
    text-decoration: dashed;
    color:black;
    font-family: Cambria;
    font-weight: bold;
    font:bold;
    transition:0.4s ease-in-out;
    height:auto;
    width:auto;
}
ul li a:hover{
    color:lime;
}

.content{
    padding-top:60px;
    padding-left:200px;
    width:auto;
    margin:auto;
    color:black;
    position: absolute sticky;
    
}
.content .par{
    color:chartreuse;
    padding-left:2px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing:1.2px;
    padding-bottom:25px;
    padding-top:150px;
    line-height: 30px;
    
    /*background:linear-gradient(to top,rgba(0,0,0,0)50%,rgba(0,0,0,0)10%),url(LS7MDnP.jpg);
*/
}

.content h1{
    color:lime;
    padding-top:50px;
    text-align:start;
    margin-left:5%;
    margin-bottom: -10%;
    letter-spacing:2px;
 
}

.slider-wrapper{
    position:relative;
    max-width:48rem;
    margin:0 auto;
    max-height:20rem;
}
.slider{
    float:right;
    background-color: red;
    width:700px;
    display:flex;
    overflow-x:auto;
    aspect-ratio: 16/9;
    scroll-snap-type:x mandatory;
    scroll-behavior:smooth;
    border-radius:0.5rem;
    z-index: 0;
}
.slider img{
    flex:0 0 100%;
    scroll-snap-align:start ;
    object-fit: cover;
    height:400px;
    width:100%;
}
.slider-nav{
  
    float:right;
    display:flex;
    overflow-x:auto;
    column-gap:1rem;
    position:absolute;
    top:22rem;
    left:78%;
    transform:translateX(-50%);
    z-index:1;
}
.slider-nav a {
    width:0.5rem;
    height:0.5rem;
    background-color:white;
    opacity:0.75;
    border-radius:50%;
    transition:opacity ease 250ms;
}
.slider-nav a:hover{
    opacity:1;
}
#slide-1{
    margin:0 0 0 15px;
}
.icon a:visited{
    color:lime;
}

.abcontent{
    padding-top:80px;
    padding-left:30px;
    padding-right:30px;
    height:auto;
    width:auto;
    margin:auto;

    position: static ;
    
}
.abcontent .par{
    color:black;
    position:relative;
    font-family:'Times New Roman', Times, serif;
    letter-spacing:1.2px;
    padding-bottom:25px;
    padding-top:150px;
    line-height: 30px;
    
    /*background:linear-gradient(to top,rgba(0,0,0,0)50%,rgba(0,0,0,0)10%),url(LS7MDnP.jpg);
*/
}

.abcontent h1{
    color:lime;
    padding-top:5px;
    text-align:start;
    text-decoration: dashed;
    margin-left:2%;
    margin-bottom: -10%;
    letter-spacing:2px;
 
}
.abcontent h2{
    color:darkblue;
    text-decoration: underline;
    text-align:start;
    margin-top:10%;
    margin-bottom: -10%;
    letter-spacing:2px;
}
 
.contesntss{
    float:none;
    background-color: #336699;
    background-position:fixed;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    height:279vh;
    min-width:900px;
    border:20px;
    border-style:hidden;
    min-block-size: 20px;
    
}
.contactcontent{
    width:auto;
    margin:auto;
    background:linear-gradient(to left,rgba(0, 0, 0, 0.5)90%,
    rgba(0, 51, 255, 0.5)10%,rgba(0, 0, 0, 0.5)90%); 
    opacity:90%;
    position:static;
    min-height:109vh;
    
    
}
.contactcontent li{
    list-style:square;
    position:relative;
    margin-left:20px ;
    font-size: 30px;
    font-weight: 200;
}
.contactcontent li a{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:lime;
    display:block;
}
.contactcontent li a:hover{
    color:purple;
}

.contactcontent h1{
    color:lime;
    padding-top:180px;
    text-align:center;
    letter-spacing:2px;
 
}

.contactinfo{
    padding:auto;
    list-style: none;
    margin-left:20px ;
    font-size: 20px;
    padding-top:5vh;
}

.contactinfo ul a:hover{
    color:purple;
}
.logo img{
  
    position:relative;
    margin-top:-40px;
    margin-left:80px ;
    font-size: 30px;
    font-weight: 200;
    
}

